<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="../static/css/admin-styles.css">
</head>
<body>
    <!-- Sidebar -->
    <div class="sidebar">
      <div class="logo">
        <p>JABO INTERIORS</p>
        <p>SITE MANAGER</p>
      </div>
        <ul class="sidebar-links">
            <li data-target="dashboard" class="sidebar-link active" ><i class="fas fa-home"></i> Dashboard</li>
            <li data-target="messages" class="sidebar-link"><i class="fas fa-envelope"></i> Messages</li>
            <li data-target="gallery" class="sidebar-link"><i class="fas fa-images"></i> Gallery</li>
            <li><a href="#">View Website</a></li>
            <li><a href="#">Logout</a></li>

        </ul>
    </div>
    <!-- Main Content -->
    <div class="display">
      <div id="dashboard" class="display-container" style="display: block;">
        <div class="title-box">
          <h2>Dashboard</h2>
        </div>
      </div>

      <div id="messages" class="display-container" style="display: none;">
        <div class="title-box">
          <h2>Messages</h2>
        </div>
      </div>

      <div id="gallery" class="display-container" style="display: none;">
        <div class="title-box">
          <h2>Gallery</h2>
        </div>
      </div>

    </div>
  
<script src="../static/js/admin.js"></script>
</body>
</html>