<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/login.css">
    <title>login</title>
</head>
<body>
    <header>
        <nav>
            <p>JABO INTERIORS</p>
            <p>ADMIN</p>
        </nav>
    </header>
    <div class="container">
        <form id="loginform" method="POST" action="/signup">
            <h3>SIGNUP</h3>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>

            <button type="submit">Login</button>
        </form>
    </div>
</body>
</html>