<div class="qrt-masonry-grid-item qrt-masonry-grid-item-50 fabrication">
    <div class="qrt-work-item">
        <a data-fancybox="works" href="../static/img/projects/original-size/1.jpg" class="qrt-cursor-scale qrt-work-cover-frame"><img src="../satic/img/projects/thumbnails/1.jpg" alt="work cover">
            <div class="qrt-item-zoom qrt-cursor-color"><i class="fas fa-expand"></i></div>
            <div class="qrt-work-category"><span>Fabrication</span></div>
        </a>
        <div class="qrt-work-descr">
            <h4 class="qrt-cursor-color qrt-white"><a href="single-work-1.html" class="qrt-anima-link">Sunset House</a></h4><a href="single-work-1.html" class="qrt-cursor-scale qrt-work-more qrt-anima-link"><i class="fas fa-arrow-right"></i></a>
        </div>
    </div>
</div>

<div class="qrt-masonry-grid-item interior fabrication">
    <div class="qrt-work-item">
        <a data-fancybox="works" href="img/projects/original-size/2.jpg" class="qrt-cursor-scale qrt-work-cover-frame"><img src="img/projects/thumbnails/2.jpg" alt="work cover">
            <div class="qrt-item-zoom qrt-cursor-color"><i class="fas fa-expand"></i></div>
            <div class="qrt-work-category"><span>Fabrication</span><span>interior</span></div>
        </a>
        <div class="qrt-work-descr">
            <h4 class="qrt-cursor-color qrt-white"><a href="single-work-1.html" class="qrt-anima-link">MinimalListic interior</a></h4><a href="single-work-1.html" class="qrt-cursor-scale qrt-work-more qrt-anima-link"><i class="fas fa-arrow-right"></i></a>
        </div>
    </div>
</div>

<div class="qrt-masonry-grid-item qrt-masonry-grid-item-h-x-2 design">
    <div class="qrt-work-item">
        <a data-fancybox="works" href="img/projects/original-size/v-1.jpg" class="qrt-cursor-scale qrt-work-cover-frame"><img src="img/projects/thumbnails/v-1.jpg" alt="work cover">
            <div class="qrt-item-zoom qrt-cursor-color"><i class="fas fa-expand"></i></div>
            <div class="qrt-work-category"><span>design</span></div>
        </a>
        <div class="qrt-work-descr">
            <h4 class="qrt-cursor-color qrt-white"><a href="single-work-1.html" class="qrt-anima-link">Rem house</a></h4><a href="single-work-1.html" class="qrt-cursor-scale qrt-work-more qrt-anima-link"><i class="fas fa-arrow-right"></i></a>
        </div>
    </div>
</div>

<div class="qrt-masonry-grid-item fabrication interior">
    <div class="qrt-work-item">
        <a data-fancybox="works" href="img/projects/original-size/4.jpg" class="qrt-cursor-scale qrt-work-cover-frame"><img src="img/projects/thumbnails/4.jpg" alt="work cover">
            <div class="qrt-item-zoom qrt-cursor-color"><i class="fas fa-expand"></i></div>
            <div class="qrt-work-category"><span>Fabrication</span><span>interior</span></div>
        </a>
        <div class="qrt-work-descr">
            <h4 class="qrt-cursor-color qrt-white"><a href="single-work-1.html" class="qrt-anima-link">OP House</a></h4><a href="single-work-1.html" class="qrt-cursor-scale qrt-work-more qrt-anima-link"><i class="fas fa-arrow-right"></i></a>
        </div>
    </div>
</div>

<div class="qrt-masonry-grid-item interior">
    <div class="qrt-work-item">
        <a data-fancybox="works" href="img/projects/original-size/5.jpg" class="qrt-cursor-scale qrt-work-cover-frame"><img src="img/projects/thumbnails/5.jpg" alt="work cover">
            <div class="qrt-item-zoom qrt-cursor-color"><i class="fas fa-expand"></i></div>
            <div class="qrt-work-category"><span>interior</span></div>
        </a>
        <div class="qrt-work-descr">
            <h4 class="qrt-cursor-color qrt-white"><a href="single-work-1.html" class="qrt-anima-link">Modern Reception</a></h4><a href="single-work-1.html" class="qrt-cursor-scale qrt-work-more qrt-anima-link"><i class="fas fa-arrow-right"></i></a>
        </div>
    </div>
</div>

<div class="qrt-masonry-grid-item design fabrication">
    <div class="qrt-work-item">
        <a data-fancybox="works" href="img/projects/original-size/6.jpg" class="qrt-cursor-scale qrt-work-cover-frame"><img src="img/projects/thumbnails/6.jpg" alt="work cover">
            <div class="qrt-item-zoom qrt-cursor-color"><i class="fas fa-expand"></i></div>
            <div class="qrt-work-category"><span>Fabrication</span><span>design</span></div>
        </a>
        <div class="qrt-work-descr">
            <h4 class="qrt-cursor-color qrt-white"><a href="#.">Villa La Siesta</a></h4><a href="single-work-1.html" class="qrt-cursor-scale qrt-work-more qrt-anima-link"><i class="fas fa-arrow-right"></i></a>
        </div>
    </div>
</div>

<div class="qrt-masonry-grid-item fabrication design">
    <div class="qrt-work-item">
        <a data-fancybox="works" href="img/projects/original-size/7.jpg" class="qrt-cursor-scale qrt-work-cover-frame"><img src="img/projects/thumbnails/7.jpg" alt="work cover">
            <div class="qrt-item-zoom qrt-cursor-color"><i class="fas fa-expand"></i></div>
            <div class="qrt-work-category"><span>Fabrication</span><span>design</span></div>
        </a>
        <div class="qrt-work-descr">
            <h4 class="qrt-cursor-color qrt-white"><a href="single-work-1.html" class="qrt-anima-link">Terrace garden</a></h4><a href="single-work-1.html" class="qrt-cursor-scale qrt-work-more qrt-anima-link"><i class="fas fa-arrow-right"></i></a>
        </div>
    </div>
</div>

<div class="qrt-masonry-grid-item interior">
    <div class="qrt-work-item">
        <a data-fancybox="works" href="img/projects/original-size/8.jpg" class="qrt-cursor-scale qrt-work-cover-frame"><img src="img/projects/thumbnails/8.jpg" alt="work cover">
            <div class="qrt-item-zoom qrt-cursor-color"><i class="fas fa-expand"></i></div>
            <div class="qrt-work-category"><span>interior</span></div>
        </a>
        <div class="qrt-work-descr">
            <h4 class="qrt-cursor-color qrt-white"><a href="single-work-1.html" class="qrt-anima-link">TZ hotel</a></h4><a href="single-work-1.html" class="qrt-cursor-scale qrt-work-more qrt-anima-link"><i class="fas fa-arrow-right"></i></a>
        </div>
    </div>
</div>

<div class="qrt-masonry-grid-item qrt-masonry-grid-item-h-x-2 design fabrication">
    <div class="qrt-work-item">
        <a data-fancybox="works" href="img/projects/original-size/v-1.jpg" class="qrt-cursor-scale qrt-work-cover-frame"><img src="img/projects/thumbnails/v-2.jpg" alt="work cover">
            <div class="qrt-item-zoom qrt-cursor-color"><i class="fas fa-expand"></i></div>
            <div class="qrt-work-category"><span>Fabrication</span><span>design</span></div>
        </a>
        <div class="qrt-work-descr">
            <h4 class="qrt-cursor-color qrt-white"><a href="single-work-1.html" class="qrt-anima-link">Apartment Building</a></h4><a href="single-work-1.html" class="qrt-cursor-scale qrt-work-more qrt-anima-link"><i class="fas fa-arrow-right"></i></a>
        </div>
    </div>
</div>

<div class="qrt-masonry-grid-item fabrication">
    <div class="qrt-work-item">
        <a data-fancybox="works" href="img/projects/original-size/10.jpg" class="qrt-cursor-scale qrt-work-cover-frame"><img src="img/projects/thumbnails/10.jpg" alt="work cover">
            <div class="qrt-item-zoom qrt-cursor-color"><i class="fas fa-expand"></i></div>
            <div class="qrt-work-category"><span>Fabrication</span></div>
        </a>
        <div class="qrt-work-descr">
            <h4 class="qrt-cursor-color qrt-white"><a href="single-work-1.html" class="qrt-anima-link">Weelywally</a></h4><a href="single-work-1.html" class="qrt-cursor-scale qrt-work-more qrt-anima-link"><i class="fas fa-arrow-right"></i></a>
        </div>
    </div>
</div>

<div class="qrt-masonry-grid-item qrt-masonry-grid-item-50 interior design">
    <div class="qrt-work-item">
        <a data-fancybox="works" href="img/projects/original-size/11.jpg" class="qrt-cursor-scale qrt-work-cover-frame"><img src="img/projects/thumbnails/11.jpg" alt="work cover">
            <div class="qrt-item-zoom qrt-cursor-color"><i class="fas fa-expand"></i></div>
            <div class="qrt-work-category"><span>interior</span><span>design</span></div>
        </a>
        <div class="qrt-work-descr">
            <h4 class="qrt-cursor-color qrt-white"><a href="single-work-1.html" class="qrt-anima-link">Modern country house</a></h4><a href="single-work-1.html" class="qrt-cursor-scale qrt-work-more qrt-anima-link"><i class="fas fa-arrow-right"></i></a>
        </div>
    </div>
</div>

<div class="qrt-masonry-grid-item design interior">
    <div class="qrt-work-item">
        <a data-fancybox="works" href="img/projects/original-size/12.jpg" class="qrt-cursor-scale qrt-work-cover-frame"><img src="img/projects/thumbnails/4.jpg" alt="work cover">
            <div class="qrt-item-zoom qrt-cursor-color"><i class="fas fa-expand"></i></div>
            <div class="qrt-work-category"><span>interior</span><span>design</span></div>
        </a>
        <div class="qrt-work-descr">
            <h4 class="qrt-cursor-color qrt-white"><a href="single-work-1.html" class="qrt-anima-link">Waterline</a></h4><a href="single-work-1.html" class="qrt-cursor-scale qrt-work-more qrt-anima-link"><i class="fas fa-arrow-right"></i></a>
        </div>
    </div>
</div>



